body{
    background-color: white;
    color: black;
    transition: background-color 700ms ease;
    font-size: 16px;
}

.blackMode{
    background-color: rgb(49, 45, 45);
    color: rgb(0, 0, 0);
}

.whatsapp{
    
    height: 3em;
    position:fixed;
    right:1.5em;
    top: 5em;
    border-style: inherit;
    z-index: 1;
}
.chatWhatsapp{
    height: 300px;
    position:fixed;
    right:3em;
    top: 5em;   
    border-style: inherit;
    border-radius: 10px;
    opacity: 80%;
    z-index: 1;
}

.carousel slide{
    position: absolute;
}
.flechaCentro{
    height:5em;
    position:absolute;
    right:45%;
    top: 56%;
    border-style: inherit;
    opacity: 90%;
    z-index: 1;
}

.card-container.card {
    max-width: 500px;
    
}
.card {
    background-color: #F7F7F7;
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider{
    margin-left: 20em
}

.botonesLogin{
    left:70%;

}

.carousel-control-prev{
    z-index: 0;
}

.carousel-control-next{
    z-index: 0;
}

.card-body{
    position: relative;
}

.cardButton{
    position: absolute;
    bottom: 0.5em;
    right: 1em;
}

#cartImage{
    position: relative;
    top:2px;

}

.logoHome{
    height: 2em;
}

.container{
    position: relative;
    top: 5em;
}

#mensajeABM{
    position: relative;
    top:2.5em
}

.subtituloProductos{
    position: relative;
    left: 45%;
}


